
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Gerenciador de Cinema</title>
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/modernizr-2.6.2.js"></script>

<h2>Cadastro de Salas</h2>

<hr />

@model Projeto.Apresentacao2.Models.Lista_de_salas_Cadastro_View_Model
@*Model da Pagina*@
@using (Html.BeginForm())
{
    @*Formulario*@
    <div class="row">
        <div class="col-md-4">
            <label><font face="arial" size="3">Nome:</font></label>
            @Html.TextBoxFor(model => model.Nome, new { @Class = "form-control" })
            @*Campo Nome do Lanche*@
            <br /><br />
            <label><font face="arial" size="3">Preco:</font></label>
            @Html.TextBoxFor(Model => Model.QuantidadeDeAssentos, new { @Class = "form-control", Type = "Number" })
            @*Campo Preco do Lanche*@
            <br /><br />
            <input type="submit" class="btn btn-primary btn-sm" value="Cadastrar Sala" />
            @*Botao de Cadastro do Lanche*@
            <hr />

            <strong><font face="arial" size="3" color="green">@ViewBag.Message</font></strong>
            @*Aviso da Pagina*@
            <strong><font face="arial" size="3" color="red">@ViewBag.MessageErro</font></strong>
        </div>
    </div>
}

