
@{
    ViewBag.Title = "Catch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Problemas de conexão !!!</h2>
<hr />
<p>Tente novamente ou mais tarde!!!</p>
<center><img src="https://clinicacanto.com.br/uploads//x1492619779-.jpg.pagespeed.ic.o-OopzI7Tp.jpg" width="650px" height="280px" /></center>

