
@{
    ViewBag.Title = "Catch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Problemas de conexão !!!</h2>
<hr />
<p>Tente novamente ou mais tarde!!!</p>
<center><img src="~/Imagem/365-Filmes-Banner-Blog-Dia-dos-Namorados.jpg" width="650px" height="280px" /></center>

