
@{
    ViewBag.Title = "Erro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Erro ao acessar o sistema !!!</h2>
<hr />

<p>Login ou senha inválido!!!</p>
<center><img src="https://clinicacanto.com.br/uploads//x1492619779-.jpg.pagespeed.ic.o-OopzI7Tp.jpg" width="650px" height="280px" /></center>
