
@{
    ViewBag.Title = "Erro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Erro ao acessar o sistema !!!</h2>
<hr />

<p>Login ou senha inválido!!!</p>
<center><img src="~/Imagem/365-Filmes-Banner-Blog-Dia-dos-Namorados.jpg" width="650px" height="280px" /></center>
