
@{
    ViewBag.Title = "Logado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrapAline.css" rel="stylesheet" type="text/css" />
<div class="navbar navbar-inverse navbar-fixed-top" style="margin-left: 250px">
    <!--Menu da Pagina Inicial-->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>


        </button>
        <nav class="menu" style="margin-right:305em">
            <ul>
                <li>
                    <font face="arial" size="2">Administrador(a)</font>
                    <ul>
                        <a href="../Reserva/Cadastro"><li><font face="arial" size="2">Cadastrar Administrador(a)</font></li></a>
                        <a href="~/Forms/res_alt_adm.aspx"><li><font face="arial" size="1">Alterar dados do(a) Administrador(a)</font></li></a>
                        <a href="~/Forms/res_reserva.aspx"><li><font face="arial" size="2">Excluir Administrador(a)</font></li></a>
                        <a href="~/Socio/Consulta"><li><font face="arial" size="2">Consultar Administrador(a)</font></li></a>
                    </ul>
                </li>
            </ul>
        </nav>
        <nav class="menu">
            <ul>
                <li>
                    <font face="arial" size="2">Cliente</font>
                    <ul>
                        <a href="../Cliente/Cadastro"><li><font face="arial" size="1">Cadastrar Cliente Pessoa Jurídica</font></li></a>
                        <a href="../Cliente/CadastroJuridico"><li><font face="arial" size="1">Cadastrar Cliente Pessoa Física</font></li></a>
                        <a href="~/Forms/res_alt_cli.aspx"><li><font face="arial" size="1">Alterar o(s) dado(s) do(a)(s) Cliente</font></li></a>
                        <a href="~/Forms/res_exc_cli.aspx"><li><font face="arial" size="2">Excluir o(a) Cliente</font></li></a>
                        <a href="~/Cliente/Consulta"><li><font face="arial" size="2">Consultar Cliente</font></li></a>
                    </ul>
                </li>
            </ul>
        </nav>
        <nav class="menu">
            <ul>
                <li>
                    <font face="arial" size="2">Compra(s)</font>
                    <ul>
                        <a href="~/Compra/Cadastro"><li><font face="arial" size="2">Cadastrar Compra</font></li></a>
                        <a href="~/Forms/res_alt_comp.aspx"><li><font face="arial" size="2">Alterar o(s) dado(s) da Compra</font></li></a>
                        <a href="~/Forms/res_exc_comp.aspx"><li><font face="arial" size="2">Excluir Compra</font></li></a>
                        <a href="~/CompraVW/Consulta"><li><font face="arial" size="2">Consultar Compra(s)</font></li></a>
                    </ul>
                </li>
            </ul>
        </nav>
        <nav class="menu">
            <ul>
                <li>
                    <font face="arial" size="2">Fornecedor(a)</font>
                    <ul>
                        <a href="~/Fornecedor/Cadastro"><li><font face="arial" size="2">Cadastrar Fornecedor(a)</font></li></a>
                        <a href="~/Forms/res_alt_forn.aspx"><li><font face="arial" size="1">Alterar Dado(s) do(a)(s) Fornecedor(a)(s)</font></li></a>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
    <h2>Logado</h2>

